* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    padding: 0;
    max-width: 100vw;
}

a {
    text-decoration: none;
    color: black;
}

.container {
    max-width:100vw;
}

.header {
    position: sticky;
    top: 0;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    background-color: white;
    z-index: 10;

    &-left,
    &-right {
        ul {
            list-style: none;
            padding: 0;
            margin: 0;

            li {
                // position: relative;
                position: relative;
                float: left;
                margin: 0 20px;

                a {
                    text-decoration: none;
                    font-size: 1em;
                    font-weight: bold;
                    color: rgb(0, 0, 0, 0.7);
                    display: inline-block;
                    padding: 5px 0;

                }
            }
        }
    }

    &-left {
        .header-list-left {
            position: relative;

            .header-list-items {
                &::after {
                    content: "";
                    position: absolute;
                    width: 100%;
                    height: 1px;
                    bottom: 0;
                    left: 0;
                    background-color: rgb(0, 0, 0, 0.7);
                    transform: scaleX(0);
                    transform-origin: bottom left;
                    transition: transform 0.25s ease-out;
                }

                &:hover::after {
                    transform: scaleX(1);
                    transform-origin: bottom right;
                }
            }

            &:hover .dropdown-content {
                display: flex;
            }
        }

    }

    &-center {
        img {
            display: flex;
            float: left;
            // max-width: 100%;
        }
    }
}

.dropdown-content {
    display: none;
    position: fixed ;
    top: 60px;
    left: 0;
    width: 100vw;
    padding-bottom: 30px;
    max-width: width;
    z-index: 1;
    box-sizing: border-box;
    background-color: white;

    // padding: 12px 16px;
    .megamenu-list {
        padding-top: 40px;
        display: flex;
        max-width: 888px;
        margin-left: 65px;
        gap: 80px;

        // padding: 30px;
        .megamenu-item {
            width: 150px;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            margin-right: 30px;

            .megamenu-item-title {
                margin: 0 0 20px 0;
                font-weight: bold;
                font-size: 1.2em;
            }

            .linklist {
                display: flex;
                width: 250px;
                flex-direction: column;

                li {
                    margin: 0;
                }
            }
        }

        .megamenu-img {
            margin-left: auto;
            display: flex;
            flex-direction: column;

            img {
                max-height: 230px;
            }

            b {
                margin: 10px;
                text-align: center;
            }
        }
    }
}

.slideshow {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    background-image: url("https://academybrand.com/cdn/shop/files/04_New_Arrivals_Bundles_Mid_Season_Sale.jpg?v=1725523187&width=1800");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    &-content {

        color: white;

        p {
            font-weight: bold;
            font-size: 1.05em;
        }

        h2 {
            font-size: 3em;
        }
    }
}

.main {
    width: 100vw;
    height: auto;

    .slideshow-image {
        margin: 30px 0;
        width: 100%;
        height: 300px;
        background-image: url('https://academybrand.com/cdn/shop/files/04_New_Arrivals_Bundles_Mid_Season_Sale7.jpg?v=1725523472&width=1800');
        background-size: cover;
        background-position: top;
        background-repeat: no-repeat;
        overflow: hidden;
    }

    .shopify-section {
        height: auto;
        // height: 3000px;
        margin: 40px 0;

        .tiles {
            .tiles-container {
                display: flex;
                gap: 20px;
                align-items: stretch;

                .tile-item {
                    flex: 1;
                    min-height: 100px;

                    // width: 100%;
                    // height: 100%;
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }
        }

        .section-header {
            padding: 50px 0;

            .container {
                display: flex;
                flex-direction: column;
                align-items: center;

                .section-header-title {
                    margin: 30px 0;
                }

                .section-header-tablist {
                    display: flex;
                    gap: 30px;
                    position: relative;

                    .tablist-button {
                        border: none;
                        background-color: inherit;
                        font-weight: bold;
                        cursor: pointer;
                        font-size: 1em;
                        position: relative;

                        &::after {
                            content: "";
                            position: absolute;
                            bottom: -2px;
                            left: 0;
                            width: 100%;
                            height: 2px;
                            background-color: black;
                            transition: width;
                            transform: scaleX(0);
                            transform-origin: bottom left;
                            transition: transform 0.25s ease-out;
                        }

                        &.active::after {
                            transform: scaleX(1);
                            transform-origin: bottom right;
                        }
                    }
                }
            }
        }

        .tabpanel {
            height: auto;
            width: 100vw;
            display: flex;
            flex-direction: column;

            .productlistwrapper {
                height: auto;

                .productlist {
                    height: auto;
                    display: flex;
                    flex: 1;
                    justify-content: center;
                    text-align: center;
                    padding: 0 10px;
                    max-height: 0;
                    opacity: 0;
                    overflow: hidden;
                    transform: translateY(20px);
                    transition: max-height 0.25s ease-out, opacity 0.25s ease-out, transform 0.25s ease-out;
                    overflow: hidden;
                    &.show{
                        max-height: 500px;
                        opacity: 1;
                        transform: translateY(0);
                    }
                    &.hidden{
                        display: none;
                    }
                    .product-items {
                        display: flex;
                        // flex: 1;
                        gap: 40px;
                        justify-content: space-between;
                        width: 100%;

                        .product-item {
                            position: relative;

                            .wishlist-btn-icon {
                                position: absolute;
                                top: 2%;
                                left: 5%;

                                svg {
                                    width: 15px;
                                    height: auto;
                                }
                            }

                            .product-item-wrapper {
                                position: relative;
                                overflow: hidden;

                                .product-item-imagewrapper {
                                    img {
                                        width: 100%;
                                        height: auto;
                                        // transition: transform 0.3s ease;
                                        // &:hover {
                                        //     transform: scale(1.1);
                                        // }
                                    }

                                }

                                // .product-item-mobileaddtocart{
                                //     position: absolute;
                                //     top: 50%;
                                //     left: 50%;
                                // }
                                .product-item-hoverwrapper {
                                    background-color: white;
                                    opacity: 0;
                                    display: flex;
                                    flex-direction: column;
                                    color: #6a6a6a;
                                    visibility: hidden;
                                    position: absolute;
                                    width: 100%;
                                    top: 72%;
                                    left: 0;
                                    transition: all 0.3s;

                                    .product-item-selecttionwrapper {
                                        display: flex;
                                        justify-content: center;
                                        gap: 10px;

                                        .button-selectionwrapper {
                                            background-color: inherit;
                                            color: #6a6a6a;
                                            border: none;
                                            margin: 10px 2px 0 2px;
                                            position: relative;

                                            &.active::after {
                                                content: "";
                                                position: absolute;
                                                left: 0;
                                                bottom: 0;
                                                width: 100%;
                                                height: 1px;
                                                background-color: black;
                                            }

                                            &:hover {
                                                color: black;
                                                font-weight: bold;
                                                // text-shadow: 1px 1px 1px black;
                                            }
                                        }
                                    }

                                    .product-item-addtocart {
                                        border: none;
                                        color: #6a6a6a;
                                        background-color: inherit;
                                        padding: 10px;

                                        &:hover {
                                            color: black;
                                            font-weight: bold;
                                            // text-shadow: 1px 1px 1px black;

                                        }
                                    }
                                }

                                &:hover {
                                    .product-item-hoverwrapper {
                                        visibility: visible;
                                        margin-top: -5px;
                                        opacity: 0.8;
                                        transition: margin-top 0.3s;
                                    }
                                }

                                .product-item-info {
                                    text-align: left;

                                    .product-item-title {
                                        margin: 10px 0;

                                        a {
                                            font-weight: bold;
                                        }
                                    }

                                    .product-item-colour {
                                        margin: 10px 0;

                                        a {
                                            font-weight: normal;
                                            text-transform: uppercase;
                                            opacity: 0.5;
                                        }
                                    }

                                    .product-item-pricelist {
                                        margin: 10px 0;

                                        .product-item-price {
                                            font-weight: bold;
                                        }
                                    }
                                }
                            }
                        }
                    }

                    .product-button-prev,
                    .product-button-next {
                        border: none;
                        margin: auto 20px;
                        height: 50px;
                        width: 50px;
                        border-radius: 50%;
                        cursor: pointer;
                        display: inline-flex;
                        align-items: center;
                        justify-content: center;
                        padding: 10px;

                        svg {
                            width: 60%;
                            height: auto;
                        }
                    }
                }
            }

            .container {
                display: flex;
                justify-content: center;
                padding: 30px 0;

                .slideshow-button {
                    .product-viewbutton {
                        border: 1px solid black;
                        background-color: black;
                        color: white;

                        &:hover {
                            background-color: transparent;
                            color: black;
                        }
                    }
                }
            }
        }

        .collectionlist {
            // height: 500px;
            // width: 100vw;
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;

            .collectionitem-wrapper {
                // background-color: black;
                height: 600px;
                width: 100%;
                margin: 10px;

                .collectionitem-imagewrapper {
                    width: calc(95vw/3);
                    min-width: 300px;
                    height: 100%;
                    background-repeat: no-repeat;
                    background-size: 100% 100%;
                    background-position: center;
                    position: relative;
                    .slideshow-button {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        .buttongroup-item{
                            padding: 10px;
                        }
                    }
                }
            }
        }
    }

    .slidebackground {
        position: relative;
        overflow: hidden;
        width: 100vw;
        height: 100%;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;

        }
    }
}

@media (max-width: 900x) {
    .collectionlist .collectionitem-wrapper .collectionitem-imagewrapper {
        width: calc(95vw / 2);
        height: 450px;
    }
}

svg {
    width: 30px;
    height: 30px;
}

.slideshow-button {
    margin: 30px 0;

    .buttongroup-item {
        position: relative;
        text-decoration: none;
        margin: 5px 5px 5px 0;
        padding: 15px 40px;
        width: 175px;
        height: 40px;
        font-size: 0.8em;
        letter-spacing: 1px;
        box-shadow: 1px 1px 1px white, -1px -1px 1px white;
        background-color: white;
        border: 2px solid white;
        transition: background-color 0.5s ease;
        color: black;
        white-space: nowrap;
        text-align: center;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: white;
            color: black;
            transition: transform 0.5s ease-in;
            transform: scaleX(0);
            transform-origin: left;
            z-index: 1;
            opacity: 0;
        }

        &:hover::before {
            transform: scaleX(1);
        }

        &:hover {
            background-color: transparent;
            color: white;
        }
    }
}

.footer {
    width: 100vw;

    .footer-contain {
        background-color: #1c1b1b;
        padding: 50px 100px 20px 50px;
        color: white;
        height: auto;

        .footer-main {
            display: flex;
            justify-content: space-between;
            width: 100vw;
            padding: 50px 150px 20px 0;


            ul {
                list-style: none;
                padding: 0;
                margin: 0;
            }

            &-left {
                // padding-left: 30px;
                display: flex;
                gap: 50px;
                width: 100%;

                .linklist-container {
                    display: flex;
                    flex-direction: column;

                    .linklist-title {
                        margin: 0 0 30px 0;
                        font-size: 0.8em;
                    }

                    ul {
                        li {
                            margin: 10px 0;

                            a {
                                text-decoration: none;
                                color: white;
                                color: inherit;
                                font-size: 0.8em;
                            }
                        }
                    }

                }
            }

            &-right {
                width: 35%;

                .linklist-title {
                    margin: 0 0 30px 0;
                    font-size: 0.8em;
                }

                .footer-right-describe {
                    text-decoration: none;
                    color: inherit;
                    font-size: 0.8em;
                    word-break: break-word;
                }

                .slideshow-button {
                    .buttongroup-item {
                        padding: 5px 30px;
                        font-weight: bold;
                    }
                }

                .footer-social {
                    display: flex;
                    gap: 20px;

                    li {
                        a {
                            display: inline-block;
                            background-color: inherit;
                            color: white;
                            font-size: 25px;
                        }
                    }
                }
            }
        }

        .footer-under {
            margin: 20px 0 0 0;

            #currency-dropdown {
                background-color: inherit;
                border: none;
                color: inherit;
                font-size: 0.8em;
                width: 70px;
                color: white;

                option {
                    background-color: white;
                    color: black;
                }
            }

            .footer-copyright {
                width: auto;
                margin: 15px 0 0 0;

                .footer-storename {
                    text-decoration: none;
                    color: inherit;
                    font-size: 0.8em;
                    margin: 0 40px;
                }
            }
        }
    }

    .footer-paymentlist {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: center;
        gap: 30px;
        padding: 10px 0;
        background-color: #dddddd;
    }
}