* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  padding: 0;
  max-width: 100vw;
}

a {
  text-decoration: none;
  color: black;
}

.container {
  max-width: 100vw;
}

.header {
  position: sticky;
  top: 0;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  background-color: white;
  z-index: 10;
}
.header-left ul, .header-right ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.header-left ul li, .header-right ul li {
  position: relative;
  float: left;
  margin: 0 20px;
}
.header-left ul li a, .header-right ul li a {
  text-decoration: none;
  font-size: 1em;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.7);
  display: inline-block;
  padding: 5px 0;
}
.header-left .header-list-left {
  position: relative;
}
.header-left .header-list-left .header-list-items::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  transform: scaleX(0);
  transform-origin: bottom left;
  transition: transform 0.25s ease-out;
}
.header-left .header-list-left .header-list-items:hover::after {
  transform: scaleX(1);
  transform-origin: bottom right;
}
.header-left .header-list-left:hover .dropdown-content {
  display: flex;
}
.header-center img {
  display: flex;
  float: left;
}

.dropdown-content {
  display: none;
  position: fixed;
  top: 60px;
  left: 0;
  width: 100vw;
  padding-bottom: 30px;
  max-width: width;
  z-index: 1;
  box-sizing: border-box;
  background-color: white;
}
.dropdown-content .megamenu-list {
  padding-top: 40px;
  display: flex;
  max-width: 888px;
  margin-left: 65px;
  gap: 80px;
}
.dropdown-content .megamenu-list .megamenu-item {
  width: 150px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-right: 30px;
}
.dropdown-content .megamenu-list .megamenu-item .megamenu-item-title {
  margin: 0 0 20px 0;
  font-weight: bold;
  font-size: 1.2em;
}
.dropdown-content .megamenu-list .megamenu-item .linklist {
  display: flex;
  width: 250px;
  flex-direction: column;
}
.dropdown-content .megamenu-list .megamenu-item .linklist li {
  margin: 0;
}
.dropdown-content .megamenu-list .megamenu-img {
  margin-left: auto;
  display: flex;
  flex-direction: column;
}
.dropdown-content .megamenu-list .megamenu-img img {
  max-height: 230px;
}
.dropdown-content .megamenu-list .megamenu-img b {
  margin: 10px;
  text-align: center;
}

.slideshow {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  background-image: url("https://academybrand.com/cdn/shop/files/04_New_Arrivals_Bundles_Mid_Season_Sale.jpg?v=1725523187&width=1800");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.slideshow-content {
  color: white;
}
.slideshow-content p {
  font-weight: bold;
  font-size: 1.05em;
}
.slideshow-content h2 {
  font-size: 3em;
}

.main {
  width: 100vw;
  height: auto;
}
.main .slideshow-image {
  margin: 30px 0;
  width: 100%;
  height: 300px;
  background-image: url("https://academybrand.com/cdn/shop/files/04_New_Arrivals_Bundles_Mid_Season_Sale7.jpg?v=1725523472&width=1800");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  overflow: hidden;
}
.main .shopify-section {
  height: auto;
  margin: 40px 0;
}
.main .shopify-section .tiles .tiles-container {
  display: flex;
  gap: 20px;
  align-items: stretch;
}
.main .shopify-section .tiles .tiles-container .tile-item {
  flex: 1;
  min-height: 100px;
}
.main .shopify-section .tiles .tiles-container .tile-item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.main .shopify-section .section-header {
  padding: 50px 0;
}
.main .shopify-section .section-header .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main .shopify-section .section-header .container .section-header-title {
  margin: 30px 0;
}
.main .shopify-section .section-header .container .section-header-tablist {
  display: flex;
  gap: 30px;
  position: relative;
}
.main .shopify-section .section-header .container .section-header-tablist .tablist-button {
  border: none;
  background-color: inherit;
  font-weight: bold;
  cursor: pointer;
  font-size: 1em;
  position: relative;
}
.main .shopify-section .section-header .container .section-header-tablist .tablist-button::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: black;
  transition: width;
  transform: scaleX(0);
  transform-origin: bottom left;
  transition: transform 0.25s ease-out;
}
.main .shopify-section .section-header .container .section-header-tablist .tablist-button.active::after {
  transform: scaleX(1);
  transform-origin: bottom right;
}
.main .shopify-section .tabpanel {
  height: auto;
  width: 100vw;
  display: flex;
  flex-direction: column;
}
.main .shopify-section .tabpanel .productlistwrapper {
  height: auto;
}
.main .shopify-section .tabpanel .productlistwrapper .productlist {
  height: auto;
  display: flex;
  flex: 1;
  justify-content: center;
  text-align: center;
  padding: 0 10px;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transform: translateY(20px);
  transition: max-height 0.25s ease-out, opacity 0.25s ease-out, transform 0.25s ease-out;
  overflow: hidden;
}
.main .shopify-section .tabpanel .productlistwrapper .productlist.show {
  max-height: 500px;
  opacity: 1;
  transform: translateY(0);
}
.main .shopify-section .tabpanel .productlistwrapper .productlist.hidden {
  display: none;
}
.main .shopify-section .tabpanel .productlistwrapper .productlist .product-items {
  display: flex;
  gap: 40px;
  justify-content: space-between;
  width: 100%;
}
.main .shopify-section .tabpanel .productlistwrapper .productlist .product-items .product-item {
  position: relative;
}
.main .shopify-section .tabpanel .productlistwrapper .productlist .product-items .product-item .wishlist-btn-icon {
  position: absolute;
  top: 2%;
  left: 5%;
}
.main .shopify-section .tabpanel .productlistwrapper .productlist .product-items .product-item .wishlist-btn-icon svg {
  width: 15px;
  height: auto;
}
.main .shopify-section .tabpanel .productlistwrapper .productlist .product-items .product-item .product-item-wrapper {
  position: relative;
  overflow: hidden;
}
.main .shopify-section .tabpanel .productlistwrapper .productlist .product-items .product-item .product-item-wrapper .product-item-imagewrapper img {
  width: 100%;
  height: auto;
}
.main .shopify-section .tabpanel .productlistwrapper .productlist .product-items .product-item .product-item-wrapper .product-item-hoverwrapper {
  background-color: white;
  opacity: 0;
  display: flex;
  flex-direction: column;
  color: #6a6a6a;
  visibility: hidden;
  position: absolute;
  width: 100%;
  top: 72%;
  left: 0;
  transition: all 0.3s;
}
.main .shopify-section .tabpanel .productlistwrapper .productlist .product-items .product-item .product-item-wrapper .product-item-hoverwrapper .product-item-selecttionwrapper {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.main .shopify-section .tabpanel .productlistwrapper .productlist .product-items .product-item .product-item-wrapper .product-item-hoverwrapper .product-item-selecttionwrapper .button-selectionwrapper {
  background-color: inherit;
  color: #6a6a6a;
  border: none;
  margin: 10px 2px 0 2px;
  position: relative;
}
.main .shopify-section .tabpanel .productlistwrapper .productlist .product-items .product-item .product-item-wrapper .product-item-hoverwrapper .product-item-selecttionwrapper .button-selectionwrapper.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: black;
}
.main .shopify-section .tabpanel .productlistwrapper .productlist .product-items .product-item .product-item-wrapper .product-item-hoverwrapper .product-item-selecttionwrapper .button-selectionwrapper:hover {
  color: black;
  font-weight: bold;
}
.main .shopify-section .tabpanel .productlistwrapper .productlist .product-items .product-item .product-item-wrapper .product-item-hoverwrapper .product-item-addtocart {
  border: none;
  color: #6a6a6a;
  background-color: inherit;
  padding: 10px;
}
.main .shopify-section .tabpanel .productlistwrapper .productlist .product-items .product-item .product-item-wrapper .product-item-hoverwrapper .product-item-addtocart:hover {
  color: black;
  font-weight: bold;
}
.main .shopify-section .tabpanel .productlistwrapper .productlist .product-items .product-item .product-item-wrapper:hover .product-item-hoverwrapper {
  visibility: visible;
  margin-top: -5px;
  opacity: 0.8;
  transition: margin-top 0.3s;
}
.main .shopify-section .tabpanel .productlistwrapper .productlist .product-items .product-item .product-item-wrapper .product-item-info {
  text-align: left;
}
.main .shopify-section .tabpanel .productlistwrapper .productlist .product-items .product-item .product-item-wrapper .product-item-info .product-item-title {
  margin: 10px 0;
}
.main .shopify-section .tabpanel .productlistwrapper .productlist .product-items .product-item .product-item-wrapper .product-item-info .product-item-title a {
  font-weight: bold;
}
.main .shopify-section .tabpanel .productlistwrapper .productlist .product-items .product-item .product-item-wrapper .product-item-info .product-item-colour {
  margin: 10px 0;
}
.main .shopify-section .tabpanel .productlistwrapper .productlist .product-items .product-item .product-item-wrapper .product-item-info .product-item-colour a {
  font-weight: normal;
  text-transform: uppercase;
  opacity: 0.5;
}
.main .shopify-section .tabpanel .productlistwrapper .productlist .product-items .product-item .product-item-wrapper .product-item-info .product-item-pricelist {
  margin: 10px 0;
}
.main .shopify-section .tabpanel .productlistwrapper .productlist .product-items .product-item .product-item-wrapper .product-item-info .product-item-pricelist .product-item-price {
  font-weight: bold;
}
.main .shopify-section .tabpanel .productlistwrapper .productlist .product-button-prev,
.main .shopify-section .tabpanel .productlistwrapper .productlist .product-button-next {
  border: none;
  margin: auto 20px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
.main .shopify-section .tabpanel .productlistwrapper .productlist .product-button-prev svg,
.main .shopify-section .tabpanel .productlistwrapper .productlist .product-button-next svg {
  width: 60%;
  height: auto;
}
.main .shopify-section .tabpanel .container {
  display: flex;
  justify-content: center;
  padding: 30px 0;
}
.main .shopify-section .tabpanel .container .slideshow-button .product-viewbutton {
  border: 1px solid black;
  background-color: black;
  color: white;
}
.main .shopify-section .tabpanel .container .slideshow-button .product-viewbutton:hover {
  background-color: transparent;
  color: black;
}
.main .shopify-section .collectionlist {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.main .shopify-section .collectionlist .collectionitem-wrapper {
  height: 600px;
  width: 100%;
  margin: 10px;
}
.main .shopify-section .collectionlist .collectionitem-wrapper .collectionitem-imagewrapper {
  width: 31.6666666667vw;
  min-width: 300px;
  height: 100%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  position: relative;
}
.main .shopify-section .collectionlist .collectionitem-wrapper .collectionitem-imagewrapper .slideshow-button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.main .shopify-section .collectionlist .collectionitem-wrapper .collectionitem-imagewrapper .slideshow-button .buttongroup-item {
  padding: 10px;
}
.main .slidebackground {
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 100%;
}
.main .slidebackground img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 900x) {
  .collectionlist .collectionitem-wrapper .collectionitem-imagewrapper {
    width: 47.5vw;
    height: 450px;
  }
}
svg {
  width: 30px;
  height: 30px;
}

.slideshow-button {
  margin: 30px 0;
}
.slideshow-button .buttongroup-item {
  position: relative;
  text-decoration: none;
  margin: 5px 5px 5px 0;
  padding: 15px 40px;
  width: 175px;
  height: 40px;
  font-size: 0.8em;
  letter-spacing: 1px;
  box-shadow: 1px 1px 1px white, -1px -1px 1px white;
  background-color: white;
  border: 2px solid white;
  transition: background-color 0.5s ease;
  color: black;
  white-space: nowrap;
  text-align: center;
}
.slideshow-button .buttongroup-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  color: black;
  transition: transform 0.5s ease-in;
  transform: scaleX(0);
  transform-origin: left;
  z-index: 1;
  opacity: 0;
}
.slideshow-button .buttongroup-item:hover::before {
  transform: scaleX(1);
}
.slideshow-button .buttongroup-item:hover {
  background-color: transparent;
  color: white;
}

.footer {
  width: 100vw;
}
.footer .footer-contain {
  background-color: #1c1b1b;
  padding: 50px 100px 20px 50px;
  color: white;
  height: auto;
}
.footer .footer-contain .footer-main {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  padding: 50px 150px 20px 0;
}
.footer .footer-contain .footer-main ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.footer .footer-contain .footer-main-left {
  display: flex;
  gap: 50px;
  width: 100%;
}
.footer .footer-contain .footer-main-left .linklist-container {
  display: flex;
  flex-direction: column;
}
.footer .footer-contain .footer-main-left .linklist-container .linklist-title {
  margin: 0 0 30px 0;
  font-size: 0.8em;
}
.footer .footer-contain .footer-main-left .linklist-container ul li {
  margin: 10px 0;
}
.footer .footer-contain .footer-main-left .linklist-container ul li a {
  text-decoration: none;
  color: white;
  color: inherit;
  font-size: 0.8em;
}
.footer .footer-contain .footer-main-right {
  width: 35%;
}
.footer .footer-contain .footer-main-right .linklist-title {
  margin: 0 0 30px 0;
  font-size: 0.8em;
}
.footer .footer-contain .footer-main-right .footer-right-describe {
  text-decoration: none;
  color: inherit;
  font-size: 0.8em;
  word-break: break-word;
}
.footer .footer-contain .footer-main-right .slideshow-button .buttongroup-item {
  padding: 5px 30px;
  font-weight: bold;
}
.footer .footer-contain .footer-main-right .footer-social {
  display: flex;
  gap: 20px;
}
.footer .footer-contain .footer-main-right .footer-social li a {
  display: inline-block;
  background-color: inherit;
  color: white;
  font-size: 25px;
}
.footer .footer-contain .footer-under {
  margin: 20px 0 0 0;
}
.footer .footer-contain .footer-under #currency-dropdown {
  background-color: inherit;
  border: none;
  color: inherit;
  font-size: 0.8em;
  width: 70px;
  color: white;
}
.footer .footer-contain .footer-under #currency-dropdown option {
  background-color: white;
  color: black;
}
.footer .footer-contain .footer-under .footer-copyright {
  width: auto;
  margin: 15px 0 0 0;
}
.footer .footer-contain .footer-under .footer-copyright .footer-storename {
  text-decoration: none;
  color: inherit;
  font-size: 0.8em;
  margin: 0 40px;
}
.footer .footer-paymentlist {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 10px 0;
  background-color: #dddddd;
}/*# sourceMappingURL=style.css.map */